doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/style.css')
  body
    block content
      a(href="/leads") 
        h1 view leads
      a(href="/leads/new") 
        h1 create new lead